@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: url(img/wood_pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 120rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #331a00;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #933d1b;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(228, 195, 174, 1);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #933d1b;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #331a00;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--rules::first-letter {
  margin-right: 0;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn--rules {
  top: 4rem;
  left: 7rem;
  padding: 0.7rem 1.5rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

/*  DICE STYLING */

.dice-wrap {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
}

.dice {
  height: 10rem;
  width: 10rem;
  transform-style: preserve-3d;
  transition: 1s ease;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #f6f3f0;
  border-radius: 2rem;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #dddbd8, #fff);
  overflow: hidden;
}

.face::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: #f6f3f0;
  transform: translateZ(-1px);
}

.face::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #131210;
}

/*.front*/
.front {
  transform: translateZ(5rem);
}

/*.back*/
.back {
  transform: rotateX(180deg) translateZ(5rem);
}

/*.top*/
.top {
  transform: rotateX(90deg) translateZ(5rem);
}

/*.bottom */
.bottom {
  transform: rotateX(-90deg) translateZ(5rem);
}

/*.right*/
.right {
  transform: rotateY(90deg) translateZ(5rem);
}

/*.left*/
.left {
  transform: rotateY(-90deg) translateZ(5rem);
}

.front::after {
  /*1*/
  width: 3rem;
  height: 3rem;
  background: #f63330;
  margin: -1.5rem 0 0 -1.5rem;
}

.back::after {
  /*6*/
  margin: -3.5rem 0 0 -3rem;
  box-shadow: 4rem 0, 0 2.5rem, 4rem 2.5rem, 0 5rem, 4rem 5rem;
}

.top::after {
  /*2*/
  margin: -3rem 0 0 -3rem;
  box-shadow: 4rem 4rem;
}

.bottom::after {
  /*5*/
  margin: -3.6rem 0 0 -3.6rem;
  box-shadow: 2.6rem 2.6rem, 5.2rem 5.2rem, 5.2rem 0, 0 5.2rem;
}

.right::after {
  /*4*/
  margin: -3rem 0 0 -3rem;
  box-shadow: 4rem 0, 0 4rem, 4rem 4rem;
}

.left::after {
  /*3*/
  margin: -3.5rem 0 0 -3.5rem;
  box-shadow: 2.5rem 2.5rem, 5rem 5rem;
}

/* PLAYER STATUS */

.player--winner {
  background-color: #933d1b;
}

.player--winner .score {
  color: #ddd;
}

.player--winner .name {
  font-weight: 700;
  color: #331a00;
}

.player--winner .current {
  background-color: #ddd;
}

.player--winner .current-label {
  color: #331a00;
}

.player--winner .current-score {
  color: #933d1b;
}

/* MODAL RULES */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fff;
  color: #331a00;
  padding: 10rem 15rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

h3 {
  color: #933d1b;
  font-size: 4rem;
  margin-bottom: 3rem;
  margin-top: -5rem;
}

h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

ul {
  list-style-type: none;
  margin: 1.5rem 0;
}

#btn-brown {
  margin-top: 3rem;
  background-color: #933d1b;
  color: #ddd;
  padding: 1.2rem 2.5rem;
  font-weight: 700;
}

#btn-brown::first-letter {
  font-size: 1.8rem;
  margin-right: 0rem;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #331a00;
  cursor: pointer;
  border: none;
  background: none;
}

.close-modal:hover {
  color: #933d1b;
}

.hidden {
  display: none;
}

@media (min-width: 900px) and (max-width: 1199px) {
  html {
    font-size: 56.25%;
  }

  main {
    width: 85rem;
  }
}

.modal {
  padding: 10rem 10rem;
}

@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 53%;
  }
  main {
    width: 90%;
  }

  .player {
    padding: 7rem;
  }

  .name {
    font-size: 2.5rem;

    margin: 2rem 0;
  }

  .score {
    font-size: 6rem;
  }

  .current {
    max-width: 80%;
    padding: 2rem;
  }

  .current-label {
    font-size: 1.4rem;
    color: #ddd;
  }

  .current-score {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
  }

  .btn::first-letter {
    font-size: 2rem;
    margin-right: 0.5rem;
  }

  .btn--rules::first-letter {
    margin-right: 0;
  }

  .btn--rules {
    padding: 0.7rem 1rem;
  }

  .modal {
    padding: 10rem 3rem;
  }

  h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 599px) {
  html {
    font-size: 50%;
  }

  main {
    width: 100%;
    height: 80vh;
  }

  .player {
    padding: 5rem;
  }

  .name {
    font-size: 2.4rem;

    margin-top: 10rem;
  }

  .score {
    font-size: 4.5rem;
  }

  .current {
    width: 80%;
    padding: 2rem;
  }

  .current-label {
    font-size: 1.4rem;
    color: #ddd;
  }

  .current-score {
    font-size: 2rem;
  }

  .btn {
    padding: 1rem 2.5rem;
  }

  .btn::first-letter {
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 0.7rem;
  }

  .btn--roll {
    top: 39.3rem;
  }
  .btn--hold {
    top: 46.1rem;
  }

  .dice-wrap {
    top: 20.5rem;
    height: 8rem;
  }

  .modal {
    padding: 10rem 3.5rem;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  .btn--rules {
    left: 5rem;
    padding: 0.7rem 1.5rem;
  }

  .btn--rules::first-letter {
    margin-right: 0;
  }
}
